$cl-primary: #E8505B;
$cl-secondary: #050505;
$cl-secondary-2: #191919;
$cl-tertiary: #7D7D7D;
$cl-softgray: #E1E1E1;
$cl-white: #FAFAFA;
$cl-gray: #A8ABAF;
//add
$cl-tertiary-3: #F5F5F5;
$cl-error: #FA383E;
$cl-warning: #F7B928;
$cl-success: #45BD62;