.badge{
  display: flex;
  justify-content: center;


  padding: 2px 0;
  min-width: 6rem;
  border-radius: 5px 0 5px 0;
  color: $cl-white;
  width: 6rem;
  margin: 0;
  &-container{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &--aceptada{
    background-color: $cl-success;
  }
  &--pendiente{
    background-color: $cl-warning;
  }
  &--rechazada{
    background-color: $cl-error;
  }
}