.datatable{
  color: $cl-tertiary;
  &__table{
    
  }
  &__filters{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0 10px 20px;

    &-title{
      margin-right: 10px;
      font-weight: 500;
      color: $cl-softgray;
    }
    &-applied{
      display: flex;
      justify-items: flex-end;
      justify-content: flex-end;
      align-content: flex-end;
      text-align: end;
      margin-right: 1rem;
    }
    &-input{
      border: 1px solid $cl-dark-gray-soft;
      background-color: transparent;
      color: $cl-white;
      border-radius: 5px;
      display: flex;
      margin: 0px 10px;
      justify-content: center;
      text-align: center;
      padding: 0.25rem;
      padding-top: 0.25rem;
      border-radius: 5px;
      font-size: 1rem;
      width: 9rem;
    }
  }
  &__filter{
    height: 24px;
    background-color: #242526;
    outline: none;
    border: none;
    border-radius: 5px;
    color: $cl-tertiary;
    margin: 0px 10px;
    padding: 0 12px;
    cursor: pointer;
    font-family: 'Roboto';
    font-size: 1rem;
    &:hover{
      color: $cl-softgray;
    }
  }

}