@keyframes label-select {
  0% {
    font-size: 1rem;
    transform: translate(0rem 0);
  }
  100% {
    font-size: .8rem;
    transform: translate(-.5rem -.5rem);
  }
}

@keyframes label-deselect {
  0% {
    font-size: .8rem;
    transform: translate(0 0);
  }
  100% {
    font-size: 1rem;
    transform: translate(-.5rem -.5rem);
  }
}

.form {
  color: $cl-white;
  margin: 1rem auto;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  &__fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 30rem;
  }
  &__field {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0;
    margin-bottom: 1.5rem;
    width: 100%;
    &--medium {
      width: 48%;
    }
    &:focus-within .form__label {
      font-size: .5rem;
      top: .5rem;
      bottom: auto;
      animation: label-select ease .2s forwards;
    }
  }
  &__input {
    border: 1px solid $cl-dark-gray-soft;
    background-color: transparent;
    color: $cl-white;
    padding: 1rem;
    padding-top: 1.6rem;
    border-radius: 5px;
    position: relative;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    &::placeholder {
      opacity: 0;
    }
  }
  &__label {
    font-size: 1rem;
    top: 1.5rem;
    position: absolute;
    display: block;
    height: fit-content;
    margin: auto 0;
    left: 1rem;
    color: $cl-gray;
    animation: label-deselect ease .5s forwards;
    &--focused {
      animation: label-select linear .4s forwards;
      font-size: .5rem;
      top: .5rem;
      bottom: auto;
    }
  }
  &__select {
    border: 1px solid $cl-dark-gray-soft;
    background-color: transparent;
    color: $cl-white;
    border-radius: 5px;
    font-size: 1rem;
  }
  &__field-error {
    font-size: .7rem;
    color: $cl-error;
    position: absolute;
    bottom: -1rem;
  }
  &__controls {
    display: flex;
    justify-content: space-between;
  }
  &__button {
    background-color: transparent;
    color: $cl-white;
    font-family: inherit;
    border: none;
    border-radius: 5px;
    padding: .8rem 1rem;
    min-width: 8rem;
    cursor: pointer;
    &:hover {
      background-color: $cl-black;
    }
  }
  &__page-indicators {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
  }
  &__page-indicator {
    width: 100%;
    height: .5rem;
    background-color: $cl-white;
    border: 1px solid $cl-dark-gray;
    border-radius: 5px;
    &--disabled {
      animation: background-out ease-out .5s;
    }
    &--active {
      animation: background-in ease-in .2s;
      background-color: $cl-dark-gray-soft;
    }
  }
}

@keyframes background-in {
  from {
    background-color: $cl-white;
  }
  to {
    background-color: $cl-dark-gray-soft;
  }
}

@keyframes background-out {
  from {
    background-color: $cl-dark-gray-soft;
  }
  to {
    background-color: $cl-white;
  }
}

.react-datepicker {
  position: relative;
  &__popper {
    z-index: 2;
    background-color: $cl-dark-gray-soft;
    padding: 1rem;
  }
  &__day-names {
    display: flex;
  }
  &__calendar {
  }
  &__wrapper {
  }
  &__time {
    display: flex;
  }
  &__day {
    display: flex;
    width: 1.7rem;
    height: 1.7rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      background-color: $cl-dark-gray;
    }
  }
  &__week {
    display: flex;
  }
  &__weekday {
    display: flex;
    width: 1.7rem;
    height: 1.7rem;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: $cl-dark-gray;
    }
  }
  &__month {
    flex-direction: column;
    display: flex;
  }
  &__current-month {
    text-align: center;
    width: 100%;
  }
  &__navigation {
    background-color: none;
    width: 1rem;
    font-family: inherit;
    cursor: pointer;
    border: none;
    height: 1rem;
    overflow: hidden;
    color: transparent;
    &--next {
      right: 0;
      position: absolute;
      &::before {
        content: '>';
        color: $cl-dark-gray;
        display: flex;
        font-weight: bolder;
        justify-content: center;
        align-items: center;
        align-content: center;
        line-height: .8rem;
      }
    }
    &--previous {
      position: absolute;
      left: 0;
      &::before {
        content: '<';
        color: $cl-dark-gray;
        display: flex;
        font-weight: bolder;
        justify-content: center;
        align-items: center;
        align-content: center;
        line-height: .8rem;}
    }
  }
}

.select {
  &__control {
    border: 1px solid $cl-dark-gray-soft !important;
    background-color: transparent !important;
    color: $cl-white;
    border-radius: 5px;
    font-size: 1rem;
    &--is-focused {
      border: 1px solid white !important;
      outline: none !important;
      box-shadow: none !important;
    }
  }
  &__single-value {
    color: $cl-white !important;
    left: 1rem;
    margin: auto !important;
    top: auto !important;
  }
  &__value-container {
    background-color: transparent !important;
    padding: 0 !important;
    padding-top: 1.7rem !important;
    & * {
      padding: 0 !important;
      margin: 0 !important;
    }
  }
  &__indicator-separator {
    display: none;
  }
  &__indicators {
    background-color: transparent;
  }
  &__menu {
    position: absolute;
    z-index: 3;
  }
  &__placeholder {
    left: 1rem;
    opacity: 0;
  }
  &__input {
    padding: 1rem !important;
    padding-top: 0 !important;
    font-family: inherit;
    color: $cl-white !important;
  }
  &__menu-list {
    background-color: $cl-dark-gray-soft !important;
  }
  &__option {
    background-color: $cl-dark-gray-soft !important;
    &:hover {
      background-color: $cl-dark-gray !important;
    }
  }
}

.time-picker {
  & input {
    position: relative;
  }
  &__pop-up {
    position: absolute;
  }
}