.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: $headerHeight;
  margin: 0;
  padding: 0 24px;
  background-color: $cl-secondary;
  position: relative;
  @media screen and (max-width: $breakpoint-tablet){
    height: $headerHeight-mobile;
    padding: 0 12px;
  }
  &__search-bar{
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    min-width: 240px;
    position: absolute;    
    @media screen and (max-width: $breakpoint-tablet){
      left: 4rem;
    }
  }
  &__bars{
    display:none;
    
    @media screen and (max-width: $breakpoint-tablet){
      display: block;
      height: 2.625rem;
      width: 2.625rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: $cl-secondary-2;
      cursor: pointer;
      position: relative;
      outline: none;
      border: none;
      color: $cl-white;
    }
  }
  &--center{
    justify-content: center;
  }
  &__logo{
    object-fit: scale-down;
    @media screen and (max-width: $breakpoint-tablet){
      object-fit: cover;
      object-position: left;
    }
    &-container{
      display: flex;
      align-items: center;
      justify-self: center;
      position: absolute;
      height: 90%;
      width: 215px;
      left: calc(50% - 107.5px);
      @media screen and (max-width: $breakpoint-tablet){
        width: 24px;
        height: 32px;
        left: calc(50% - 1rem);
      }
    }  
  }
  &__logo2{

    display: block;
    height: 2.9rem;
    width: 143px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    outline: none;
    border: none;
    color: $cl-white;
 
  }
  &__controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    max-height: 10vh;
    max-width: 30%;
    width: 30%;
    margin-right: 1rem;
    position: absolute;
    right: 0;
  }
  &__close{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    max-height: 10vh;
    max-width: 30%;
    width: 30%;
    margin-right: 1rem;
    position: absolute;
    right: 0;
    
    color: $cl-white;
    height: 2.625rem;
    max-height: 10vh;
    width: 2.625rem;
    max-width: 10vh;
    border-radius: 50%;
    font-size: 1rem;
    font-size-adjust: none;
    background-color: $cl-secondary-2;
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 0;
    outline: none;

    margin: 0 1.75rem;
      
  }
  &-option{
    &-container{
      margin: 0 0.5rem;
      cursor: pointer;
    }
    &-icon{
      color: $cl-white;
      height: 2.625rem;
      max-height: 7vh;
      width: 2.625rem;
      max-width: 7vh;
      border-radius: 50%;
      font-size: 1rem;
      font-size-adjust: none;
      background-color: $cl-secondary-2;
      display: flex !important;
      justify-content: center;
      align-items: center;
      padding: 0;
      
    }
  }
}