.loading{
  &-container{
    background-color: $cl-secondary-2;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__logo{
    width: 11vw;
    min-width: 11vw;
    max-width: 11vw;
    height: 11vw;
    min-height: 11vw;
    max-height: 11vw;
    animation-name: logoin;
    animation-duration: 0.75s;
    &-container{
      animation-delay: 1.5s;
      animation-duration: 2s;
      animation-name: slideout;
      width: fit-content;
      height: fit-content;
    }
  }
  &__message{
    color: $cl-white;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    animation-duration: 3s;
    animation-name: slidein;
    text-align: center;
    &-container{
      width: 25%;
      min-width: 25%;
      max-width: 25%;
      max-height: 20vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // animation-delay: 3s;
      // animation-duration: 3s;
      // animation-name: slideout;
    }
  }
  &__spinner{
    animation: 1.5s spin infinite ease-in-out;
    margin: 1rem;
    width: 1.25rem;
    min-width: 1.25rem;
    max-width: 1.25rem;
  }
}

@keyframes spin {
  to{
    transform: rotate(360deg);
  }
}

@keyframes slidein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes logoin {
  from {
    width: 0;
    min-width: 0;
    max-width: 0;
    height: 0;
    min-height: 0;
    max-height: 0;
  }
  to {
    width: 11vw;
    min-width: 11vw;
    max-width: 11vw;
    height: 11vw;
    min-height: 11vw;
    max-height: 11vw;
  }
}