.accordion{
    width: 100%;
    padding-bottom: 0.5rem;
}

.accordion-container{
    width: 100%;
}

.accordion-title {
    width: 100%;
    min-width: 20rem;
    position: relative;
    display: block;
    padding: 15px;
    font-size: 16px;
    background: $cl-secondary;
    color: #fff;
    box-sizing: border-box;

    cursor: pointer;
    
    
    border: none;

    @media screen and (min-width: $breakpoint-tablet){
        min-width: 30rem;
    }
}

.accordion-titulo.open {
    background: $cl-secondary-2;
    color: #fff;
}

.accordion-titulo:hover {
    background: $cl-secondary-2;
}

.accordion-content {
    //display: none;
    padding: 20px;
    margin: 0.5rem;
    overflow: auto;
    background: $cl-dark-gray-soft;
    border-radius: 15px;
    box-sizing: border-box;
}

.accordion--closed{
    display: none;
}

.accordion-content--hidden{
    display: none;
}

.arrow {
    float: right;
}

.arrowClose--visible {
    float: right;
}

.arrowClose--hidden {
    display: none;
    float: right;
}


.listConten{
    
    margin-left: 5px;
    font-weight: normal;
}

.list{
    list-style:none;
    font-weight: bold;
    
}
