.ReactModal__Body--open {
  overflow-y: hidden;
}

.modal {
  &__overlay {
    position: fixed;
    inset: 0px;
    background-color: $cl-black-gradient;
  }
  &__content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    min-height: 30rem;
    height: 38rem;
    margin: auto;
    background: $cl-dark-gray;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    &--alert {
      height: fit-content;
      min-height: auto;
    }
  }
  &__body {
    height: 33rem;
    color: $cl-white;
    &--alert {
      height: fit-content;
    }
  }
  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
  }
  &__title {
    justify-self: center;
    color: $cl-white;
    margin: 0 1rem;
    width: 100%;
    text-align: center;
    &--left {
      justify-self: flex-start;
      margin: 0 1rem 0 0;
    }
  }
  &__close-button {
    display: flex;
    justify-self: flex-end;
    align-items: center;
    justify-content: center;
    color: $cl-gray;
    background-color: $cl-dark-gray-soft;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    font-size: 1.1rem;
    &:hover {
      color: $cl-dark-gray-soft;
      background-color: $cl-gray;
    }
  }
  &__alert {
    &-buttons {
      display: flex;
      justify-content: flex-end;
    }
    &-button {
      background-color: transparent;
      color: $cl-white;
      border: none;
      border-radius: 8px;
      margin-left: .5rem;
      padding: .5rem 1rem;
      cursor: pointer;
      outline: none;
      &--no-prefered {
        color: $cl-gray;
      }
      &:hover {
        background-color: $cl-black;
      }
    }
  }
}