// Commons
@import "./globals/color.scss";
@import "./globals/fonts.scss";
@import "./globals/sizes.scss";

// Componentes
@import "./components/dashboard.scss";
@import "./components/sidebar.scss";
@import "./components/header.scss";
@import "./components/headerMenu.scss";
@import "./components/search-bar.scss";
@import "./components/accountsForm.scss";
@import "./components/section.scss";
@import "./components/option-card.scss";
@import "./components/options.scss";
@import "./components/text.scss";
@import "./components/list-text.scss";
@import "./components/table.scss";
@import "./components/datatable.scss";
@import "./components/badge.scss";
@import "./components/button.scss";
@import "./components/loading.scss";
@import "./components/config.scss";
@import "./components/no-requests.scss";
@import "./components/modal";
@import "./components/form";
@import "./components/filter";
@import "./components/modal-watch";
@import "./components//requests-table.scss";

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
}

.container{
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

html {
  font-size: 16px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $cl-gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $cl-dark-gray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $cl-dark-gray-soft;
}

button {
  outline: none;
}