@import "./globals/color.scss";
@import "./globals/fonts.scss";
@import "./globals/sizes.scss";
@import "./components/dashboard.scss";
@import "./components/sidebar.scss";
@import "./components/header.scss";
@import "./components/search-bar.scss";
@import "./components/accountsForm.scss";
@import "./components/section.scss";
@import "./components/option-card.scss";
@import "./components/options.scss";
@import "./components/text.scss";
@import "./components/list-text.scss";
@import "./components/table.scss";
@import "./components/datatable.scss";
@import "./components/badge.scss";
@import "./components/button.scss";
@import "./components/loading.scss";
@import "./components/no-requests.scss";
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
}

.container{
  display: grid;
  grid-template-rows: $headerHeight auto;
  overflow-y: hidden;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select:none;
}

html {
  font-size: 16px;
}